<alert type="danger" *ngIf="error" [dismissible]="true">
  <strong>Oh snap!</strong> There was an error provisioning your tenant.
</alert>
<alert type="danger" *ngIf="success" [dismissible]="true">
  <strong>Success!</strong> Sucessfully provisioned your tenant.
</alert>
<div class="row">
  <div class="col-md-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <strong>Provision Tenant</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="form">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <input
                type="text"
                id="tenantName"
                name="tenantName"
                class="form-control"
                formControlName="tenantName"
                placeholder="Full Name"
                [ngClass]="displayFieldCss('tenantName')"
                required
              />
            </div>
            <div *ngIf="isFieldInvalid('tenantName')"
              class="alert alert-danger">
              <div *ngIf="hasRequiredError('tenantName')">
                Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fa fa-envelope"></i
                ></span>
              </div>
              <input
                type="email"
                id="tenantEmail"
                name="tenantEmail"
                class="form-control"
                formControlName="tenantEmail"
                placeholder="Email"
                [ngClass]="displayFieldCss('tenantEmail')"
                required
              />
            </div>
            <div *ngIf="isFieldInvalid('tenantEmail')"
              class="alert alert-danger">
              <div *ngIf="hasRequiredError('tenantEmail')">
                Email is required.
              </div>
              <div *ngIf="hasError('tenantEmail', 'email')">
                Email is invalid.
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                id="tenantAddress"
                name="tenantAddress"
                class="form-control"
                formControlName="tenantAddress"
                placeholder="Enter Company Address"
                [ngClass]="displayFieldCss('tenantAddress')"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                id="tenantPhone"
                name="tenantPhone"
                class="form-control"
                formControlName="tenantPhone"
                placeholder="Enter Company Phone Number"
                [ngClass]="displayFieldCss('tenantPhone')"
                required
              />
            </div>
            <div *ngIf="isFieldInvalid('tenantPhone')"
              class="alert alert-danger">
              <div *ngIf="hasRequiredError('tenantPhone')">
                Phone number is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="plan" class="text-muted">Please select your service plan</label>
            <select
              id="tenantTier"
              name="tenantTier"
              class="form-control"
              formControlName="tenantTier"
              placeholder="Select Plan"
              [ngClass]="displayFieldCss('tenantTier')"
              required
            >
              <option>Select one...</option>
              <option value="Basic">Basic</option>
              <option value="Standard">Standard</option>
              <option value="Premium">Premium</option>
              <option value="Platinum">Platinum</option>
            </select>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex">
          <a class="ml-auto" routerLink="/tenants"
            ><button class="btn button-secondary">Cancel</button></a
          >
          <button
            type="submit"
            (click)="onSubmit()"
            class="btn btn-primary"
            [disabled]="!form.valid"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
