<div class="animated fadeIn">
  <div class="row mb-3">
    <div class="col-sm-12">
      <div class="d-flex">
        <button class="ml-auto btn btn-secondary mr-2">
          <span><i class="fa fa-refresh"></i></span>
        </button>
        <a routerLink="./create"
          ><button class="btn btn-primary" type="button">
            Provision Tenant
          </button></a
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex">
          <span><i class="fa fa-align-justify"></i> All Tenants</span>
        </div>
        <div class="card-body">
          <div *ngIf="tenants | async as tenantList; else loading">
            <table class="table">
              <thead>
                <tr>
                  <th>Tenant Name</th>
                  <th>Id</th>
                  <th>Plan</th>
                  <th>Active</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tenant of tenantList">
                  <td>{{ tenant.tenantName }}</td>
                  <td>{{ tenant.tenantId }}</td>
                  <td>{{tenant.tenantTier }}</td>
                  <td>
                    <span *ngIf="tenant.isActive" class="badge badge-success">Active</span>
                    <span *ngIf="!tenant.isActive" class="badge badge-success">Inactive</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #loading>
            <div class="d-flex align-items-center justify-content-center">
              <i class="fa fa-spinner fa-4 fa-spin" aria-hidden="true"></i>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
