<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Products Table
      </div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Sku</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products | async">
              <td><a popover="ID: {{product.key}}"
                [outsideClick]="true"
                triggers="mouseenter"
                class="link"
                routerLink="/products/edit/{{product.key}}"
                >{{product.name}}</a></td>
              <td>{{product.price | currency}}</td>
              <td>{{product.sku}}</td>
              <td>{{product.category}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <button (click)="onCreate()" class="ml-3 btn btn-primary">Create Product</button>
        </div>
      </div>
    </div>
  </div>
</div>
