/*
 * Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this
 * software and associated documentation files (the "Software"), to deal in the Software
 * without restriction, including without limitation the rights to use, copy, modify,
 * merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
 * permit persons to whom the Software is furnished to do so.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 * HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 * OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 * SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */
.no-bottom-margin {
  margin-bottom: 0;
}

.nowrap {
  white-space: nowrap;
}

.invoice {
  font-family: Arial, Helvetica, sans-serif;
  width: 970px !important;
  margin: 50px auto;
  .invoice-header {
    padding: 25px 25px 15px;
    h1 {
      margin: 0;
    }
    .media {
      .media-body {
        font-size: 0.9em;
        margin: 0;
      }
    }
  }
  .invoice-body {
    border-radius: 10px;
    padding: 25px;
    background: #fff;
  }
  .invoice-footer {
    padding: 15px;
    font-size: 0.9em;
    text-align: center;
    color: #999;
  }
}
.logo {
  max-height: 70px;
  border-radius: 10px;
}
.dl-horizontal {
  margin: 0;
  dt {
    float: left;
    width: 80px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd {
    margin-left: 90px;
  }
}
.rowamount {
  padding-top: 15px !important;
}
.rowtotal {
  font-size: 1.3em;
}
.colfix {
  width: 12%;
}
.mono {
  font-family: monospace;
}
