<div class="tenant-list">
  <h2>Tenant List</h2>
  <div class="row">
    <div>
      <table mat-table [dataSource]="tenants$" class="mat-elevation-z1">
        <!-- Name Column -->
        <ng-container matColumnDef="tenantId">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.tenantId }}</td>
        </ng-container>

        <ng-container matColumnDef="tenantName">
          <th mat-header-cell *matHeaderCellDef>Tenant Name</th>
          <td mat-cell *matCellDef="let element">{{ element.tenantName }}</td>
        </ng-container>

        <ng-container matColumnDef="tenantEmail">
          <th mat-header-cell *matHeaderCellDef>E-Mail</th>
          <td mat-cell *matCellDef="let element">{{ element.tenantEmail }}</td>
        </ng-container>

        <ng-container matColumnDef="tenantTier">
          <th mat-header-cell *matHeaderCellDef>Plan</th>
          <td mat-cell *matCellDef="let element">{{ element.tenantTier }}</td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.isActive }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="button-panel">
        <button
          routerLink="/tenants/create"
          routerLinkActive="router-link-active"
          mat-raised-button
          color="primary"
        >
          Provision Tenant
        </button>
      </div>
    </div>
  </div>
</div>
