<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Users Table
      </div>
      <div class="card-body">
        <div *ngIf="users | async as userList; else loading">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Created Date</th>
                <th>Modified Date</th>
                <th>Status</th>
                <th>Enabled</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList">
                <td>{{user.user_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created | date}}</td>
                <td>{{user.modified | date}}</td>
                <td>{{user.status}}</td>
                <td>{{user.enabled}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #loading>
          <div class="d-flex align-items-center justify-content-center">
            <i class="fa fa-spinner fa-4 fa-spin" aria-hidden="true"></i>
          </div>
        </ng-template>
        <div class="row">
          <button routerLink="/users/create" class="ml-3 btn btn-primary">Add User</button>
        </div>
      </div>
    </div>
  </div>
</div>
