<div class="container invoice">
  <div class="invoice-header">
    <div class="row">
      <div class="col-xs-8">
        <h1>Order Details <small>mostly made up</small></h1>
        <h5 class="text-muted">
          NO: {{ orderId$ | async }} | Date: {{ today() | date }}
        </h5>
      </div>
      <div class="col-xs-4">
        <div class="media">
          <div class="media-left">
            <img class="media-object logo" src="assets/logo.svg" />
          </div>
          <ul class="media-body list-unstyled">
            <li>
              <strong>{{ tenantName() }}</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="invoice-body">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h3>Services / Products</h3>
        </div>
        <table class="table table-bordered table-responsive no-bottom-margin">
          <thead>
            <tr>
              <th>Item / Details</th>
              <th class="text-center colfix">Unit Cost</th>
              <th class="text-center colfix">Sum Cost</th>
              <th class="text-center colfix">Discount</th>
              <th class="text-center colfix">Tax</th>
              <th class="text-center colfix">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let op of orderProducts$ | async">
              <td class="nowrap">
                {{ op.productId }}
                <br />
              </td>
              <td class="text-right">
                <span class="mono">{{ op.price | currency }}</span>
                <br />
                <small class="text-muted">Before Tax</small>
              </td>
              <td class="text-right">
                <span class="mono">{{ sum(op) | currency }}</span>
                <br />
                <small class="text-muted">{{ op.quantity }} Units</small>
              </td>
              <td class="text-right">
                <span class="mono">$0.00</span>
                <br />
                <small class="text-muted">None</small>
              </td>
              <td class="text-right nowrap">
                <span class="mono">{{ tax(op) | currency }}</span>
                <br />
                <small class="text-muted">Sales Tax 8.9%</small>
              </td>
              <td class="text-right">
                <strong class="mono">{{ total(op) | currency }}</strong>
                <br />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <table
          *ngIf="order$ | async as order"
          class="table table-bordered table-condensed"
        >
          <thead>
            <tr>
              <td class="text-center col-xs-1">Sub Total</td>
              <td class="text-center col-xs-1">Discount</td>
              <td class="text-center col-xs-1">Total</td>
              <td class="text-center col-xs-1">Tax</td>
              <td class="text-center col-xs-1">Final</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-center rowtotal mono">
                {{ subTotal(order) | currency }}
              </th>
              <th class="text-center rowtotal mono">-$0.00</th>
              <th class="text-center rowtotal mono">
                {{ subTotal(order) | currency }}
              </th>
              <th class="text-center rowtotal mono">
                {{ calcTax(order) | currency }}
              </th>
              <th class="text-center rowtotal mono">
                {{ final(order) | currency }}
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <div class="card">
          <div class="card-body">
            <i>Comments / Notes</i>
            <hr style="margin: 3px 0 5px" />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
            repudiandae numquam sit facere blanditiis, quasi distinctio ipsam?
            Libero odit ex expedita, facere sunt, possimus consectetur dolore,
            nobis iure amet vero.
          </div>
        </div>
      </div>
    </div>
    <div class="invoice-footer">
      Thank you for choosing the EKS Reference Architecture.
      <br />
      We hope to see you again soon
      <br />
      <strong>AWS</strong>
    </div>
  </div>
</div>
