<alert type="danger" *ngIf="error" [dismissible]="true">
  <strong>Oh snap!</strong> There was an error create.
</alert>
<alert type="success" *ngIf="success" [dismissible]="true">
  <strong>Success!</strong> Sucessfully created new user.
</alert>
<div class="app-body">
  <div class="container d-flex">
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form [formGroup]="userForm">
              <h1>Create User</h1>
              <p class="text-muted">
                Upon submission, a new user account will be created and we'll
                send an email to the provided address with login instructions
              </p>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                  <input
                    type="username"
                    id="username"
                    name="username"
                    class="form-control"
                    formControlName="userName"
                    placeholder="User Name"
                    [ngClass]="displayFieldCss('userName')"
                    required
                  />
                </div>
                <div *ngIf="isFieldInvalid('userName')" class="alert alert-danger">
                  <div *ngIf="hasRequiredError('userName')">
                    User Name is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                  <input
                    type="useremail"
                    id="useremail"
                    name="useremail"
                    class="form-control"
                    formControlName="userEmail"
                    placeholder="User Email"
                    [ngClass]="displayFieldCss('userEmail')"
                    required
                  />
                </div>
                <div *ngIf="isFieldInvalid('userEmail')" class="alert alert-danger">
                  <div *ngIf="hasRequiredError('userEmail')">
                    Email is required.
                  </div>
                  <div *ngIf="hasError('userEmail', 'email')">
                    Email is invalid.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                  <input
                    type="tenantid"
                    id="tenantid"
                    name="tenantid"
                    class="form-control"
                    formControlName="tenantId"
                    placeholder="Tenant Id"
                    [ngClass]="displayFieldCss('tenantId')"
                    required
                  />
                </div>
                <div *ngIf="isFieldInvalid('tenantId')" class="alert alert-danger">
                  <div *ngIf="hasRequiredError('tenantId')">
                    Tenant Id is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                  <input
                    type="userrole"
                    id="userrole"
                    name="userrole"
                    class="form-control"
                    formControlName="userRole"
                    placeholder="User Role"
                    [ngClass]="displayFieldCss('userRole')"
                    required
                  />
                </div>
                <div *ngIf="isFieldInvalid('userRole')" class="alert alert-danger">
                  <div *ngIf="hasRequiredError('userRole')">
                    User Role is required.
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer p-4">
            <div class="row">
              <div class="col-6">
                <button
                  class="btn btn-block btn-primary"
                  [disabled]="!!userForm.errors"
                  (click)="onSubmit()"
                  type="button"
                >
                  <span>Create</span>
                </button>
              </div>
              <div class="col-6">
                <button
                  class="btn btn-block btn-danger"
                  routerLink="/users"
                  type="button"
                >
                  <span>Cancel</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
