.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
}

.dashboard-card-content {
  text-align: center;
}

.chart-wrapper {
  padding-right: 20px;
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}
