<alert type="danger" *ngIf="error" [dismissible]="true">
  <p class="text-center"><strong>Oh snap!</strong> {{this.errorMessage}}</p>
</alert>
<div class="jumbotron jumbotron-fluid center-screen">
  <h1 class="display-2 text-center">Unauthorized</h1>
  <div>
    <form [formGroup]="tenantForm">
      <div class="form-group">
        <p class="lead text-center">Enter your tenant name and click login below</p>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input
            type="tenantname"
            id="tenantname"
            name="tenantname"
            class="form-control"
            formControlName="tenantName"
            placeholder="Enter Tenant Name"
            [ngClass]="displayFieldCss('tenantName')"
            required
          />
        </div>
        <div *ngIf="isFieldInvalid('tenantName')" class="alert alert-danger">
          <div *ngIf="hasRequiredError('tenantName')">
            Tenant Name is required.
          </div>
        </div>
      </div>
    </form>
  </div>
  <p class="lead text-center">You must <a href="" (click)="login()">login</a> to view this content.</p>
</div>
