{
  "host": "UPDATE_ME!",
  "tenantName": "UPDATE_ME!",
  "tenantUsername": "UPDATE_ME!",
  "tenantUserPassword": "UPDATE_ME!",
  "newUserName": "UPDATE_ME!",
  "newUserEmail": "UPDATE_ME!",
  "newUserRole": "UPDATE_ME!"
}
