<!--/.row-->
<mat-card class="card">
  <mat-card-header class="card-body">
    <div class="col-sm-5">
      <h4 class="card-title mb-0">Traffic</h4>
      <div class="small text-muted">December 2020</div>
    </div>
  </mat-card-header>
  <mat-card-content class="chart-wrapper">
    <canvas
      baseChart
      [type]="lineChartType"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
    ></canvas>
  </mat-card-content>
</mat-card>
