<div fxLayout="column" class="tenant-form">
  <form [formGroup]="tenantForm" (submit)="submit()">
    <mat-card class="card">
      <mat-card-title>Provision tenant</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="tenant1"
            formControlName="tenantName"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="jsmith@example.com"
            formControlName="tenantEmail"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input
            matInput
            placeholder="1234567890"
            formControlName="tenantPhone"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="tenantAddress"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Plan</mat-label>
          <select matNativeControl required formControlName="tenantTier">
            <option>Select one...</option>
            <option value="Basic">Basic</option>
            <option value="Standard">Standard</option>
            <option value="Premium">Premium</option>
            <option value="Platinum">Platinum</option>
          </select>
        </mat-form-field>
        <mat-card-footer>
          <div class="button-panel">
            <button
              mat-raised-button
              color="primary"
              (click)="(submit)"
              [disabled]="!tenantForm.valid"
              type="submit"
              *ngIf="!submitting"
            >
              Submit
            </button>
            <button mat-raised-button color="warn" [routerLink]="['/tenants']" type="button" *ngIf="!submitting">
              Cancel
            </button>
            <mat-card *ngIf="submitting" style="display: flex; justify-content: center; align-items: center">
              <mat-progress-spinner
                color="primary"
                mode="indeterminate"
                diameter="15"
                >
              </mat-progress-spinner>
            </mat-card>
          </div>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </form>
</div>
