<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Create new Order</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="orderForm" action="" method="post">
          <div class="form-group">
            <label for="nf-name">Name</label>
            <input
              type="text"
              formControlName="orderName"
              id="nf-name"
              name="nf-name"
              class="form-control"
              placeholder="Enter order name.."
              autocomplete="ordername"
            />
            <span class="help-block">Please enter the order name</span>
          </div>
          <table class="table table-sm">
            <thead>
              <tr>
                <!-- <th>ID</th> -->
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let op of orderProducts">
                <td><span
                     popover="ID: {{op.product.productId}}"
                     [outsideClick]="true"
                     triggers="mouseenter" class="dottedUnderline"
                  >{{op.product.name}}</span></td>
                <td>{{op.product.price | currency}}</td>
                <td>{{op.quantity || 0}}</td>
                <td>
                  <button class="btn btn-primary" (click)="add(op)"><i class="fa fa-plus"></i></button>
                  <button class="ml-3 btn btn-danger" (click)="remove(op)"><i class ="fa fa-minus"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          </form>
      </div>
      <div class="card-footer">
        <button type="edit" (click)="submit()" [disabled]="!orderForm.valid" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="cancel" (click)="cancel()" class="btn btn-sm btn-secondary">
          <i class="fa fa-long-arrow-left"></i> Cancel
        </button>
      </div>
    </div>
  </div>
</div>
