<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Orders Table
      </div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Line Items</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders | async">
              <td><a popover="ID: {{order.key}}"
                     [outsideClick]="true"
                     triggers="mouseenter"
                     class="link"
                     routerLink="/orders/detail/{{order.key}}"
                  >{{order.orderName}}</a></td>
              <td>{{order.orderProducts?.length || 0}}</td>
              <td>{{sum(order) | currency}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <button routerLink="/orders/create" class="ml-3 btn btn-primary">Create Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
